<div class="container all-light brk-z-index-10 position-relative">
    <h3
        class="font__family-montserrat font__weight-semibold font__size-30 line__height-46 letter-spacing-100 text-center">
        Esto es lo que aprenderás</h3>
    <p class="font__family-open-sans font__size-16 mt-20 text-center">Más de 120 lecciones, todas pensadas para que
        máximices tu aprendizaje invirtiendo el menor tiempo posible. El contenido se divide en cinco bloques:</p>
    <div class="row justify-content-center mt-40">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="info-box__wrapper-icon text-center rendered brk-library-rendered"
                data-brk-library="component__info_box">
                <div class="wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0s; animation-name: fadeInDown;">
                    <h6 class="font__family-montserrat font__weight-semibold font__size-72 line__height-75">1</h6>
                </div>
                <div class="wow fadeInUp pt-25" data-wow-duration="0.8s" data-wow-delay="0s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0s; animation-name: fadeInUp;">
                    <h6 class="font__family-montserrat font__weight-semibold font__size-24 line__height-28">Introducción
                        y visión general de AGILE</h6>
                </div>
                <div class="icon-after"></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-2">
            <div class="info-box__wrapper-icon text-center rendered brk-library-rendered"
                data-brk-library="component__info_box">
                <div class="wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.1s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.1s; animation-name: fadeInDown;">
                    <h6 class="font__family-montserrat font__weight-semibold font__size-72 line__height-75">2</h6>
                </div>
                <div class="wow fadeInUp pt-25" data-wow-duration="0.8s" data-wow-delay="0.1s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <h6 class="font__family-montserrat font__weight-semibold font__size-24 line__height-28">SCRUM
                        Framework</h6>
                </div>
                <div class="icon-after"></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-2">
            <div class="info-box__wrapper-icon text-center rendered brk-library-rendered"
                data-brk-library="component__info_box">
                <div class="wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.2s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInDown;">
                    <h6 class="font__family-montserrat font__weight-semibold font__size-72 line__height-75">3</h6>
                </div>
                <div class="wow fadeInUp pt-25" data-wow-duration="0.8s" data-wow-delay="0.2s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h6 class="font__family-montserrat font__weight-semibold font__size-22 line__height-28">Introducción
                        a XP y DevOps</h6>
                </div>
                <div class="icon-after"></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-2">
            <div class="info-box__wrapper-icon text-center rendered brk-library-rendered"
                data-brk-library="component__info_box">
                <div class="wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.2s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInDown;">
                    <h6 class="font__family-montserrat font__weight-semibold font__size-72 line__height-75">4</h6>
                </div>
                <div class="wow fadeInUp pt-25" data-wow-duration="0.8s" data-wow-delay="0.2s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h6 class="font__family-montserrat font__weight-semibold font__size-24 line__height-28">Metodologías
                        LEAN y KANBAN</h6>
                </div>
                <div class="icon-after"></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="info-box__wrapper-icon text-center rendered brk-library-rendered"
                data-brk-library="component__info_box">
                <div class="wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.2s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInDown;">
                    <h6 class="font__family-montserrat font__weight-semibold font__size-72 line__height-75">5</h6>
                </div>
                <div class="wow fadeInUp pt-25" data-wow-duration="0.8s" data-wow-delay="0.2s"
                    style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h6 class="font__family-montserrat font__weight-semibold font__size-24 line__height-28">Otras
                        metodologías de innovación</h6>
                </div>
                <div class="icon-after"></div>
            </div>
        </div>
    </div>    
    
</div>