{{!--
This template is used for the page created as a custom landing page, example for an event.
--}}
{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}
<style>
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    z-index: 1;
    margin-top: 65px;
}
</style>
<div class="main-wrap">
{{> header background=feature_image}}
    {{#post}}
        <div class="wrapper">
          {{content}}
        </div>
    {{/post}}
</div>
{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/page.js"}}"></script>
{{/contentFor}}